
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    box-shadow: 2px 5px 10px aqua;
    padding: 2rem;
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}

#userInput {
    width: 100%;
    padding: .7rem;
    outline: none;
    border: none;
    border-radius: .3rem;
    background-color: rgb(242, 242, 242);
    overflow: hidden;
}

.star {
    width: 100%;
    border-radius: .3rem;
    background-color: #fff;
    padding: .7rem 0;
    border: none;
    outline: none;
    text-transform: uppercase;
    background-color: rgb(105, 255, 105);
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.star:hover{
    background-color: aquamarine;
}

#userInput:focus {
    box-shadow: 0 0 10px aqua;
    background-color: #fff;
}