* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --yellow: #E6B905;
    --green: #6FD262;
    --pink: #EA86C2;
    --purple: #C78EFF;
    --blue: #5AC0E7;
}


.container {
    max-width: 900px;
    width: 90%;
    min-height: 200px;
    margin: 2rem auto 0;
    border: 3px solid rebeccapurple;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.card-note {
    padding: 1rem;
}



ul,
li,
h1,
input {
    margin-bottom: .5rem;
}

input,
button {
    padding: .5rem 1rem;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
}

button {
    padding: .4rem 1rem;
}

.bx {
    cursor: pointer;
}


.itemList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.itemList.completed {
    text-decoration: line-through;
    /* Contoh warna teks saat dicoret */
    color: #888;
}

.btnNew {
    margin: 3rem 0 0 3rem;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnRemove {
    font-size: 1.8rem;
}

[data-set-color="yellow"] {
    background-color: var(--yellow);
}

[data-set-color="blue"] {
    background-color: var(--blue);
}

[data-set-color="green"] {
    background-color: var(--green);
}

[data-set-color="purple"] {
    background-color: var(--purple);
}

[data-set-color="pink"] {
    background-color: var(--pink);
}